<div>
  <h2>Add record</h2>
  <form (ngSubmit)="items">
    <label [(ngModel)]="date" for="date">Jogging date:</label>
    <input type="text" id="date" name="date" placeholder="dd/mm/yyyy" >

    <label for="dis">Distance(m)</label>
    <input [(ngModel)]="distance" type="text" id="dis" name="dis" placeholder="0">

    <label for="time">Time(s)</label>
    <input [(ngModel)]="time" type="text" id="time" name="time" placeholder="0">
  </form>

  <button class="button button1">Save</button>

</div>
