table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 2px;
}

td, th {
  border: 1px;
  text-align: left;
  padding: 8px;
}

tr:nth-child(1) {
  background-color: #dddddd;
}
.button {
  background-color: royalblue;
  border: none;
  color: white;
  padding: 18px;
  text-align: center;
  text-decoration: solid;
  display: inline-block;
  font-size: 13px;
  margin: 10px 4px;
  cursor: pointer;
}

.button2 {border-radius: 8px;}

